@import "_variable.scss";

header
{
  grid-column: 1/13;
  grid-row: 1/2;
}

#logo
{
  width: 140px;
  height: 140px;
  background-image: url("../img/Group 21.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -20px;
}

a
{
  font-family: $font;
}

a:hover
{
  opacity: 0.5;
}


#navbar
{
  height: 100px;
  background-color: #00000066;
}

.ulmargin
{
  margin-top: 20px;
  margin-right: 20px;
}

