@import "_variable.scss";

header
{
  grid-column: 1/13;
  grid-row: 1/2;
}

#logo
{
  width: 140px;
  height: 140px;
  background-image: url("../img/Group 21.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -20px;
}

a
{
  font-family: $font;
}

#navbar
{
  height: 100px;
}

.ulmargin
{
  margin-top: 20px;
  margin-right: 20px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}