@import "variable";


/* Slideshow container */
.slideshow-container {
    position: relative;
    background:transparent;
    height: 480px;

  }

/* Slides */
.mySlides {
  padding: 80px;
  display: none;
  text-align: center;
}


/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: transparent;
  margin-top: 140px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

.textslide
{
  font-family: $font;
  font-size: 51px;
  color: #ffffff;
  font-weight: bold;
}

#imgbox {
  position:relative;
  height:350px;
  width:350px;
  margin:0 auto;

}

#imgbox img {
  position:absolute;
  left:0;
}

.bottom
{
  height:250px;
  width:250px;
  position:absolute;
  margin-left: 12%;
  margin-top: 10%;
}

.top {
  height:350px;
  width:350px;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#tekbilLede
{

  height:450px;
  width:450px;

  margin-left: 32%;

  background-image: url("../img/forsidepic.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1250px)
{
  .slideshow-container {
    height: 280px;
  }

  .textslide
  {
    font-family: $font;
    font-size: 20px;
    color: #ffffff;
  }

}

@media only screen and (max-width: 1000px)
{
  #tekbilLede
  {
    margin-left: 25%;
  }
}