#textkon
{
  font-family: $font;
  color: colors(fc1);
  text-align: center;
  grid-column: 1/13;
  grid-row: 1/2;
  font-weight: bold;
}

.konboxs
{
  width: 600px;
  height: 250px;

  font-family: $font;
  color: colors(fc2);
  padding: 55px;
  padding-left: 80px;

}

#kbox1
 {
  grid-column: 1/5;
  grid-row: 3/4;
  margin-left: 20px;
  background-image: url("../img/greenbar1.svg");
  background-repeat: no-repeat;
  background-size: cover;
 }

#kbox2
{
  grid-column: 7/12;
  grid-row: 3/4;
  background-image: url("../img/greenbar2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#kbox3
{
  grid-column: 1/5;
  grid-row: 5/6;
  margin-left: 20px;
  background-image: url("../img/greenbar3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#kbox4
{
  grid-column: 7/12;
  grid-row: 5/6;
  background-image: url("../img/greenbar4.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trashpic
{
  background-image: url("../img/shards.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 60px;

}

.trashpicMargin
{
  margin-top: 40px;
  margin-left: -15px;
}

@media only screen and (max-width: 1200px)
{
  #kbox1
  {
    grid-column: 3/8;
    grid-row: 3/4;
  }

  #kbox2
  {
    grid-column:  3/8;
    grid-row: 5/6;
    margin-left: 22px;
  }

  #kbox3
  {
    grid-column:  3/8;
    grid-row: 7/8;
    margin-left: 22px;
  }

  #kbox4
  {
    grid-column:  3/8;
    grid-row: 9/10;
    margin-left: 22px;
  }
}
