#graf
{
  grid-column: 2/13;
  grid-row: 2/3;

  background-image: url("../img/Infographic-SVG.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#headlineInfo
{
  grid-column: 1/13;
  grid-row: 1/3;

  text-align: center;
  color: colors(fc2);
  font-family: $font;
  font-weight: bold;
}