@function colors($color-name) {
  @return map-get($color,$color-name);
}

$color:(
        fc1: (
                #19343F
                ),
        fc2: (
                #ffffff
        ),
        fc3: (
                #103D49
        )
);

$font: 'Montserrat', sans-serif;