@charset "UTF-8";
header {
  grid-column: 1/13;
  grid-row: 1/2;
}

#logo {
  width: 140px;
  height: 140px;
  background-image: url("../img/Group 21.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -20px;
}

a {
  font-family: "Montserrat", sans-serif;
}

a:hover {
  opacity: 0.5;
}

#navbar {
  height: 100px;
  background-color: #00000066;
}

.ulmargin {
  margin-top: 20px;
  margin-right: 20px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: transparent;
  height: 480px;
}

/* Slides */
.mySlides {
  padding: 80px;
  display: none;
  text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: transparent;
  margin-top: 140px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

.textslide {
  font-family: "Montserrat", sans-serif;
  font-size: 66px;
  color: #ffffff;
  font-weight: bold;
}

#imgbox {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 0 auto;
}

#imgbox img {
  position: absolute;
  left: 0;
}

.bottom {
  height: 250px;
  width: 250px;
  position: absolute;
  margin-left: 12%;
  margin-top: 10%;
}

.top {
  height: 350px;
  width: 350px;
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: initial;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#tekbilLede {
  height: 450px;
  width: 450px;
  margin-left: 32%;
  background-image: url("../img/forsidepic.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1250px) {
  .slideshow-container {
    height: 280px;
  }

  .textslide {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
}
@media only screen and (max-width: 1000px) {
  #tekbilLede {
    margin-left: 25%;
  }
}
#textkon {
  font-family: "Montserrat", sans-serif;
  color: #19343F;
  text-align: center;
  grid-column: 1/13;
  grid-row: 1/2;
  font-weight: bold;
}

.konboxs {
  width: 500px;
  height: 200px;
  background-image: url("../img/Rectangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  padding: 20px;
}

#kbox1 {
  grid-column: 2/5;
  grid-row: 3/4;
}

#kbox2 {
  grid-column: 8/12;
  grid-row: 3/4;
}

#kbox3 {
  grid-column: 2/5;
  grid-row: 5/6;
}

#kbox4 {
  grid-column: 8/12;
  grid-row: 5/6;
}

.drawpic {
  width: 90px;
  height: 100px;
  margin-left: 40%;
}

#dpic1 {
  grid-column: 1/2;
  grid-row: 2/4;
  background-image: url("../img/mobil.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

#dpic2 {
  grid-column: 7/8;
  grid-row: 2/4;
  background-image: url("../img/KOMMUNIKATION.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

#dpic3 {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url("../img/gps.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

#dpic4 {
  grid-column: 7/8;
  grid-row: 4/5;
  background-image: url("../img/wifi.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.trashpic {
  background-image: url("../img/shards.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 60px;
}

.trashpicMargin {
  margin-top: 30px;
  margin-left: -15px;
}

@media only screen and (max-width: 1200px) {
  #kbox1 {
    grid-column: 5/8;
    grid-row: 3/4;
  }

  #kbox2 {
    grid-column: 5/8;
    grid-row: 5/6;
  }

  #kbox3 {
    grid-column: 5/8;
    grid-row: 7/8;
  }

  #kbox4 {
    grid-column: 5/8;
    grid-row: 9/10;
  }

  #dpic1 {
    grid-column: 4/5;
    grid-row: 2/4;
  }

  #dpic2 {
    grid-column: 4/5;
    grid-row: 4/6;
  }

  #dpic3 {
    grid-column: 4/5;
    grid-row: 6/8;
  }

  #dpic4 {
    grid-column: 4/5;
    grid-row: 8/10;
  }

  .drawpic {
    margin-left: 30%;
  }
}
#graf {
  grid-column: 1/13;
  grid-row: 2/3;
  background-image: url("../img/Infographic.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#headlineInfo {
  grid-column: 1/13;
  grid-row: 1/3;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.textkessler {
  color: #103D49;
  font-family: "Montserrat", sans-serif;
}

#headlineKess {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-top: 0;
  margin-left: 30px;
  font-weight: bold;
  font-size: 66px;
}

#kesslerpic {
  height: 260px;
  margin-top: 10px;
  grid-row: 2/3;
  grid-column: 6/8;
  background-image: url("../img/Skærmbillede 2018-12-06 kl. 13.32.40.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#kesslerbox1 {
  padding: 10px;
  font-size: 16px;
  grid-column: 8/12;
  grid-row: 2/3;
}

.stick {
  height: 5px;
  width: 50%;
  margin-bottom: 10px;
  background-image: url("../img/stick.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#kesslerbox2 {
  padding: 10px;
  font-size: 16px;
  grid-column: 8/12;
  grid-row: 3/4;
}

#glasshatter {
  grid-column: 1/8;
  grid-row: 3/5;
  background-image: url("../img/glasshatter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 1200px) {
  #headlineKess {
    font-size: 55px;
  }

  #kesslerbox1 {
    font-size: 14px;
  }

  #kesslerbox2 {
    font-size: 14px;
  }
}
#testheadline {
  grid-column: 2/6;
  grid-row: 2/3;
  font-weight: bold;
}

#shield {
  background-image: url("../img/shield.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
  grid-column: 2/5;
  grid-row: 4/5;
}

#laser {
  background-image: url("../img/laser.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  grid-column: 2/4;
  grid-row: 6/7;
}

#budskab {
  background-image: url("../img/budskab.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  grid-column: 2/3;
  grid-row: 8/9;
}

.link {
  text-decoration: underline;
  color: #ffffff;
}

.infotext {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.infosize {
  font-size: 16px;
}

.infobox {
  padding: 10px;
}

#infobox1 {
  grid-column: 3/8;
  grid-row: 4/5;
}

#infobox2 {
  grid-column: 3/8;
  grid-row: 6/7;
}

#infobox3 {
  grid-column: 3/8;
  grid-row: 8/9;
}

#lightbulb {
  height: 680px;
  width: 500px;
  background-image: url("../img/solution.svg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 8/12;
  grid-row: 4/9;
  margin-top: 50px;
  margin-left: 20px;
}

#junkpic1 {
  grid-row: 1/3;
  grid-column: 12/13;
  transform: rotate(180deg);
}

#junkpic2 {
  grid-row: 3/5;
  grid-column: 1/13;
}

.junkpic {
  height: 280px;
  width: 270px;
  background-image: url("../img/Group 17.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#textsub {
  grid-row: 2/3;
  grid-column: 1/13;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #19343F;
  font-weight: bold;
}

#emailbox {
  grid-row: 3/4;
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: center;
}

#emailfield {
  height: 90px;
  width: 480px;
  border: solid 1px #000000;
  border-radius: 50px 0 0 50px;
  padding: 10px;
  padding-left: 20px;
}

#emailbotton {
  width: 320px;
  height: 90px;
  font: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 37px;
  background-color: #103D49;
  border-radius: 0 50px 50px 0;
  text-align: center;
  padding: 15px;
}

#email {
  border-bottom: none;
}

@media only screen and (max-width: 1100px) {
  .junkpic {
    height: 200px;
    width: 190px;
  }

  #junkpic2 {
    grid-row: 3/5;
    grid-column: 1/13;
    margin-top: 8%;
  }
}
main {
  grid-row: 1/3;
  grid-column: 1/13;
}

#section1 {
  height: 700px;
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -160px;
}

#section2 {
  height: 800px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 50px 250px 50px 250px 100px;
  display: grid;
}

#section3 {
  height: 1560px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px 1fr;
}

#section4 {
  height: 700px;
  grid-template-rows: 30px 300px 300px 70px;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}

#section5 {
  height: 1100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 100px 50px 200px 40px 200px 75px 200px 50px;
}

#section6 {
  height: 540px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 130px 110px 100px;
}

@media only screen and (max-width: 1200px) {
  #section2 {
    height: 1400px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 50px 250px 50px 250px 50px 250px 50px 250px 100px;
    display: grid;
  }

  #section3 {
    height: 1260px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }

  #section5 {
    height: 1100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 100px 50px 200px 90px 200px 125px 200px 50px;
  }
}
footer {
  grid-column: 1/13;
  grid-row: 3/4;
}

.page-footer {
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#textfooter {
  font-family: "Montserrat", sans-serif;
  color: #19343F;
}

#rowmargin {
  margin-left: -10rem;
}

#imgplace {
  display: flex;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

@media only screen and (max-width: 1000px) {
  #rowmargin {
    margin-left: 0.75rem;
  }

  .icon {
    width: 50px;
    height: 50px;
    margin-right: 5pxs;
  }

  .row .col.s12 {
    width: 25% !important;
  }
}
body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 1fr 250px;
}

/*# sourceMappingURL=style.css.map */
